body {
    font-family: system-ui;
    background-image: url('https://i.imgur.com/9uUzWej.gif?noredirect');
    background-size: auto;
    color: black;
    text-align: center;
    height: 100vh;
  }
  
  a {
   text-decoration: none;
  }
  
  a:hover {
   text-decoration: underline;
   text-decoration: grow;
  }

  .site-title {
    text-align: center;
   }
   
   .site-subtitle {
    text-align: center;
   }
  
  .menu ul {
  display: flex;
  justify-content: space-around;
  }
  
  .menu li {
   list-style: none;
  }